<div id="dashboard_roomlist">
<%= render :partial => 'roombookedlist' %>
</div>
<hr>
<div id="dashboard_bookedlist">
    <b>My Bookings</b><br>
	<%= render :partial => 'bookings/mybookings' %> 
</div>
