<%= javascript_include_tag "jquery.shorten.1.0" %>
<div id="dashboard_roomlist">
<%= render :partial => 'roombookedlist2' %>
</div>
<hr>
<div id="dashboard_bookedlist">
    <!--<b>My Bookings</b><br>
	<%= render :partial => 'bookings/mybookings' %> -->
</div>
