<div id="dashboard_left">
<%= render :partial => 'roombookedlist' %>
</div>

<div id="dashboard_right">
  <div id="dright_top">
    <b>My Bookings</b><br>
	<%= render :partial => 'bookings/mybookings' %>
  </div>
  <div id="dright_down">
  <h4>Booking form</h4>
  <%= render :partial => 'bookings/form'%>
  </div>
</div>
 