Here are the bookings for Room 3!!
<table class="table table-hover">
<th>S.no</th>
<th>Start Time</th> 
<th>End Time</th>
	
	<% @room3.each_with_index do |room, i| %>
  <tr>
  	<td><%= i+1 %></td>
    <td><% datetime1 = room.start_time %>
    	<%= datetime1.to_formatted_s(:short) %>
    </td>
    <td><% datetime2 = room.end_time %>
    	<%= datetime2.to_formatted_s(:short)%>
    </td>
  </tr>
  <% end %>
</table>